# Final Project
## Tyler Baker and Rathish Parayil Sasidharan

Your project should incorporate one or both of the two main themes of this course: network analysis and text processing. You need to show all of your work in a coherent workflow, and in a reproducible format, such as an IPython Notebook or an R Markdown document. If you are building a model or models, explain how you evaluate the “goodness” of the chosen model and parameters.

## Introduction


### Setting the Environment

In [28]:
import pandas as pd
import numpy as np
import networkx as nx
import nltk
import random
import networkx.algorithms.bipartite as bipartite
import matplotlib.pyplot as plt

### The Data
We got our data from <a href="https://www.kaggle.com/datasets/d4rklucif3r/restaurant-reviews">Kaggle</a>. The data consists of two columns: reviews and scores.

In [29]:
data_raw = pd.read_table("https://raw.githubusercontent.com/tylerbaker01/Data-620/main/Restaurant_Reviews.tsv")

In [30]:
data_raw.columns = ["review", "score"]

In [31]:
data_raw.tail()

                                                review  score
995  I think food should have flavor and texture an...      0
996                           Appetite instantly gone.      0
997  Overall I was not impressed and would not go b...      0
998  The whole experience was underwhelming, and I ...      0
999  Then, as if I hadn't wasted enough of my life ...      0

We want to add restaurant IDs and Customer Ids. In order to have repitition we must insure that the amount of reviews > the amount of users > the amount of restaurants. Note that there are 1000 reviews. Let's say that there are 600 users and 100 restaurants. We chose these numbers at random.

In [32]:
users_list = []
for i in range(600):
    users_list.append([f"Customer {i}"])
users_list = users_list*2

In [33]:
restaurants_list = []
for i in range(100):
    restaurants_list.append([f"Restaurant {i}"])
restaurants_list = restaurants_list *10

Now we have made a list of 600 users and 100 restaurants. Next we must make a list of length 1000 for each where each index is randomly selected from the lists above.

In [34]:
random.seed(97)
users= []
for i in range(1000):
    users.append(random.choice(users_list))

In [35]:
restaurants = []
for i in range(1000):
    restaurants.append(random.choice(restaurants_list))

In [38]:
data_raw["user_id"] = users
data_raw["restaurant_id"] = restaurants

In [39]:
df = data_raw
df.head()

,review,score,user_id,restaurant_id
0,Wow... Loved this place.,1,[Customer 398],[Restaurant 37]
1,Crust is not good.,0,[Customer 278],[Restaurant 78]
2,Not tasty and the texture was just nasty.,0,[Customer 161],[Restaurant 28]
3,Stopped by during the late May bank holiday of...,1,[Customer 104],[Restaurant 70]
4,The selection on the menu was great and so wer...,1,[Customer 576],[Restaurant 37]